
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
    
    <th:block layout:fragment="head">
    	<title>main page</title>
		
        <!--/* css */-->
        <link th:href="@{css/sb-admin-2.css}" rel="stylesheet" />
        <link th:href="@{css/sb-admin-2.min.css}" rel="stylesheet" />
        <link th:href="@{vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">
    </th:block>   
    <body>
    <div id="wrapper">
			<th:block layout:fragment="left" th:include="@{/fragments/left}"></th:block>
    	<div id="content-wrapper" class="d-flex flex-column">
    		<div class="container-fluid">
	        	<th:block layout:fragment="header" th:include="@{/fragments/header}"></th:block>
	        	<th:block layout:fragment="board" th:include="@{/fragments/board}"></th:block>
	        </div> 
    	</div>
    </div>    
       <th:block layout:fragment="footer" th:include="@{/fragments/footer}"></th:block>	
    
    
    <!--script-->
    <script th:src="@{vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script th:src="@{vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Custom scripts for all pages-->
    <script th:src="@{js/sb-admin-2.min.js}"></script>

    <!-- Page level plugins -->
    <script th:src="@{vendor/chart.js/Chart.min.js}"></script>

    <!-- Page level custom scripts -->
    <script th:src="@{js/demo/chart-area-demo.js}"></script>
    <script th:src="@{js/demo/chart-pie-demo.js}"></script>
    </body>
</html>