
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
    
    <th:block layout:fragment="head">
    	<title>main page</title>
		
        <!--/* css */-->
        <link th:href="@{css/sb-admin-2.css}" rel="stylesheet" />
        <link th:href="@{css/sb-admin-2.min.css}" rel="stylesheet" />
    </th:block>   
    <body>
    <p>adad</p>
    <div id="wrapper">
    	<div id="content-wrapper" class="d-flex flex-column">
	        <th:block layout:fragment="header" th:include="@{/fragments/header}"></th:block>
	        <th:block layout:fragment="board" th:include="@{/fragments/board}"></th:block>
			<th:block layout:fragment="left" th:include="@{/fragments/left}"></th:block>
    	</div>
    </div>    
       <th:block layout:fragment="footer" th:include="@{/fragments/footer}"></th:block>	
    </body>
</html>